@use '../../styles/variables.scss' as var;
.content {
    @include var.pageApropos;
    margin-bottom: 38px;
    &__itemList {
        margin: auto;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 38px;
        @media (max-width: var.$breakpoint) {
            gap: 19px;
        }
        &__item {
            margin: 0;
            padding: 0;
        }
    }
}
