@use '../../styles/variables.scss' as var;
.page {
    @include var.pageDisposition;
    &__body {
        @media (max-width: var.$breakpoint) {
            gap: 22px;
        }
    }
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
        @media (max-width: var.$breakpoint) {
            gap: 22px;
        }
    }
}
