@use '../../styles/variables.scss' as var;
.page {
    @include var.pageError;
    display: flex;
    flex-direction: column;
    gap: 139px;
    @media (max-width: var.$breakpoint) {
        gap: 113px;
    }
    &__title {
        margin: 0;
        padding: 0;
        font-weight: 700;
        font-size: 288px;
        line-height: 1;
        text-align: center;
        color: var.$primary-color;
        @media (max-width: var.$breakpoint) {
            font-size: 96px;
        }
    }
    &__subtitle {
        margin: 0;
        font-weight: 500;
        font-size: 36px;
        line-height: 1.42;
        text-align: center;
        color: var.$primary-color;
        @media (max-width: var.$breakpoint) {
            font-size: 18px;
        }
    }
    &__link {
        margin: 0;
        font-weight: 500;
        font-size: 18px;
        line-height: 25.67px;
        text-align: center;
        color: var.$third-color;
        @media (max-width: var.$breakpoint) {
            font-size: 14px;
        }
    }
}
